.post_bottons{
        
}

.card_content div  {
    width: min-content !important;
   
}

.my_card{
    width: 100% !important;
}

.pid_card_content div{
    width: auto !important;
    
}

.my_comment_group{
    max-width: 100% !important;
}

.my_comment {
    margin: 1rem 0 !important;
}

.my_column {
    margin: 1rem 0 !important;
}

.my_labelled_button{
    padding: .5rem !important; 
}

.my_labelled_label{
    padding: .5rem !important;
}